**/node_modules
*.swp

bot/src/*.js
bot/build/*.js
bot/build/*.js.map
bot/build/package-lock.json
bot/build/package.json
bot/logs/

# should be created through a symlink
rubric/src/problems.json

# build artifact
rubric-packaged.yaml
